main {
    display: grid;
    grid-template-areas:
      "sidebar nav2"
      "sidebar articles"
      "sidebar pagination";
    grid-template-columns: minmax(100px, 1fr) 3fr;
    grid-template-rows: minmax(50px, 1fr) 9fr 1fr;
    gap: 10px;
  }
  
  aside {
    grid-area: sidebar;
    background-color: white;
    border-right: 2px solid #EFEFEF;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  
  .nav2 {
    grid-area: nav2;
    background-color: white;
  }
  
  .articles{
    grid-area: articles;
    background-color: blueviolet;
  }
  
  .pagination {
    grid-area: pagination;
    background-color: whitesmoke;
  }

  .sidebar-item1 {
    display: flex;
    padding: 0.5rem;
    /* border: 2px solid red; */
    justify-content: space-between;


  }
  