nav {
    display: flex;
    /* border: 2px solid red; */
    border-bottom: 2px solid #EFEFEF;
    align-items: center;
    justify-content: space-between;
    padding:0.7rem;
}

nav a {
    text-decoration: none;
    color: black;
}
/* general style for ul li */
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 2;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
}

nav ul li {
    list-style-type: none;
}

nav .left{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    /* border: 2px solid blue; */
    align-items: center;
}

nav .left .material-symbols-outlined:hover {
    background-color: rgb(197, 196, 196);
    border-radius: 0.5rem;
    color: white;
}

nav .middle{
    display: flex;
    flex-grow: 8;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid blue; */
}

nav .checked {
    background-color: rgb(44, 235, 44);
    border-radius: 100%;
    padding: 0.1rem;
    font-size: 1rem;
    color: white;
    margin-right: 0.5rem;
}


nav .editor {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

nav ul li:nth-of-type(1) button {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: 0px;
    padding: 0.5rem;
    width: 8rem;
    background-color: #f3f3f3;
    justify-content: space-around;
}

nav ul li:nth-of-type(1) button:hover{
    background-color: #635AFF;
    color: white;
    cursor: pointer;
}

nav ul li:nth-of-type(2) button {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 7rem;
    text-align: center;
    border-radius: 2rem;
    border: 0px;
    background-color: #635AFF;
    color: white;
}

nav ul li:nth-of-type(2) button:hover{
    background-color: #EFEFEF;
    color: black;
    cursor: pointer;
}