.nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav2 > div:nth-of-type(1){
    display: flex;
    border: 2px solid #EFEFEF;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #9e9d9d;
}

.nav2 input {
    border: none;
}

/* issue */
.nav2 input:focus{
    /* border: 0px; */
    border-color: white;
}

.new-post-btn {
    border: 2px solid #EFEFEF;
    padding: 0.3rem;
    width: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    color: #9e9d9d;
}

.new-post-btn:hover{
    background-color: #9e9d9d;
    color: white;
  }
